<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Static Data Dictionary Views</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a [routerLink]="['/dpv']" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Dynamic Performance Views</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Initialization Parameters</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Wait Events</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>